@media only screen and (max-width: 1050px){
    .hero-section{
        max-width: 500px;
    } 
    .about-section .right{
        width: 50%;
    }
    .about-section .left img{
        width: 100%;
    }
    .our-services{
        flex-basis: 28%;
    }
    .courses-left{
        width: 40%;
    }
    .courses-right{
        width: 60%;
    }
    .courses-right img{
        width: 100%;
    }
    .contact-right img{
        width: 100%;
    }
    .contact-left h2{
        font-size: 28px;
        padding: 0px 0px;
    }
}

@media only screen and (max-width: 850px){
    .hero-section{
        max-width: 90%;
        margin-right: 10px;
    } 
    .hero-section h1{
        color: rgb(0, 0, 0);
    }
    .hero-section p{
        color: rgb(0, 0, 0);
        font-weight: 500;
    }
    .about-section{
        flex-direction: column;
    }
    .about-section .left{
        width: 100%;
        margin: auto;
  
    }
    .about-section .right{
        width: 90%;
        margin: auto;
    }
    .courses-section{
        flex-direction: column;
    }
    .courses-left{
        width: 100%;
        padding: 20px 0px;
      
    }
    .courses-right{
        width: 100%;
        margin: auto;
        padding: 20px 0px;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-right{
        width: 100%;
        padding: 20px 0px;
    }
    .contact-left{
        width: 100%;
        text-align: center;
        padding: 20px 0px;
    }
    .contact-left form input{
        width: 100%;
    }
    .footer-section{
        flex-direction: column;
    }
    .footer{
        padding: 20px 0px;
        width: 100%
    }
    .footer img{
        width: 70%;
    }
}

@media only screen and (max-width: 700px){
    .services{
        flex-direction: column;
    }
    .our-services{
        flex-basis: 90%;
    }
    .navbar .left img{
        margin-left: 50px;
    }
    .menu{
        right: 30px;
        top: 30px;
    }
    .contact-section{
        margin: 20px 50px;
    }
}

@media only screen and (max-width: 500px){
    .newbtn{
        display: flex;
        flex-direction: column;
    }
    .newbtn a{
        width: 80%;
        margin: 5px auto;
    }
    .footer img{
        width: 40%;
    }
    .navbar .left img{
        margin-left: 20px;
    }
    .menu{
        right: 20px;
        top: 30px;
    }
    .hero-section{
        margin-left: 55px;
    }
    .courses-section{
        margin: 30px;
    }
    .contact-section{
        margin: 20px 30px;
    }
}